$clt-navy: #121843;
$clt-light-blue: #95a9d6;
$clt-light-gray: #d6daea;
$clt-white: #fdfdfd;
$clt-hardwood: #af927b;
$clt-green: #19322a;

$font-fam-primary: "Raleway", sans-serif;
$mobile-bp: 768px;
