.home-page {
  height: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: $mobile-bp) {
  .title-container {
    padding: 28px;
    justify-content: start;
  }
}

.carter-tune {
  margin-bottom: 50%;
  position: relative;

  .text-overlay-container:last-child {
    position: absolute;
    left: 132px;
  }
  @media (max-width: $mobile-bp) {
    .text-overlay-container:last-child {
      left: 84px;
    }
  }
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
}

.carter-image-container {
  position: relative;
  height: 125%;
  top: -85%;
  width: 65%;
  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: $mobile-bp) {
  .carter-image-container {
    height: 100%;
    top: -60%;
    width: 100%;
  }
}

.hardwood-floor {
  position: fixed;
  width: 100%;
  background: $clt-hardwood;
  height: 29%;
  bottom: 0;
  left: 0;
}
