.text-overlay-container {
  position: relative;

  &:hover {
    .overlay {
      display: inline;
    }
  }
}

.H1 {
  font-size: 84px;
  font-family: $font-fam-primary;
  font-weight: 800;
  letter-spacing: 0.1em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $clt-white;
  color: transparent;

  &.overlay {
    display: inline;
  }
}

.H2 {
  font-size: 48px;
  font-family: $font-fam-primary;
  font-weight: 800;
  letter-spacing: 0.1em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $clt-white;
  color: transparent;
}

.H3 {
  font-size: 32px;
  font-family: $font-fam-primary;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: $clt-white;
}

.P,
li {
  font-family: $font-fam-secondary;
  font-size: 20px;
  font-weight: normal;
  opacity: 0.9;
  color: $clt-white;
  text-overflow: ellipsis;
  margin: 0;
}

.carter-tune {
  margin-bottom: 50%;
  position: relative;

  .text-overlay-container:last-child {
    position: absolute;
    left: 132px;
  }
  @media (max-width: $mobile-bp) {
    .text-overlay-container:last-child {
      left: 84px;
    }
  }

  &.small {
    .H1 {
      font-size: 42px;
    }
    .text-overlay-container:last-child {
      left: 84px;
    }
  }
}

@media (max-width: $mobile-bp) {
  .H1 {
    font-size: 42px;
  }

  .H2 {
    font-size: 28px;
  }
}

.overlay {
  display: none;
  position: absolute;
  left: -4px;
  top: -4px;
  color: $clt-white;
}
