.text-overlay-container {
  position: relative;

  &:hover {
    .overlay {
      display: inline;
    }
  }
}

.H1 {
  font-size: 84px;
  font-family: $font-fam-primary;
  font-weight: 800;
  letter-spacing: 0.1em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $clt-white;
  color: transparent;

  &.overlay {
    display: inline;
  }
}

.H2 {
  font-size: 48px;
  font-family: $font-fam-primary;
  font-weight: 800;
  letter-spacing: 0.1em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $clt-white;
  color: transparent;
}

@media (max-width: $mobile-bp) {
  .H1 {
    font-size: 42px;
  }

  .H2 {
    font-size: 28px;
  }
}

.overlay {
  display: none;
  position: absolute;
  left: -4px;
  top: -4px;
  color: $clt-white;
}
